In [38]:
import numpy as np
import pandas as pd
import random as random 
from sklearn.preprocessing import LabelEncoder

In [4]:
data = pd.read_csv("/Users/abhishekshenoy/Downloads/1987.csv").sample(3500, random_state=44)

FileNotFoundError: [Errno 2] File /Users/abhishekshenoy/Downloads/1987.csv does not exist: '/Users/abhishekshenoy/Downloads/1987.csv'

In [5]:
data

NameError: name 'data' is not defined

In [6]:
#data.to_csv('1987_3500.csv')

In [7]:
data1 = pd.read_csv("/Users/abhishekshenoy/Downloads/1988.csv").sample(3500, random_state=44)

In [8]:
data1

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4109353,1988,10,15,6,1741.0,1715,1840.0,1829,TW,704,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
466428,1988,2,19,5,1455.0,1410,1645.0,1559,TW,574,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
591153,1988,2,19,5,1510.0,1510,1532.0,1525,NW,871,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3067454,1988,8,24,3,818.0,820,1603.0,1618,TW,862,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2123465,1988,5,21,6,759.0,740,925.0,900,US,343,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3325565,1988,8,24,3,1900.0,1900,2020.0,2005,DL,741,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4395412,1988,11,22,2,731.0,720,912.0,851,US,231,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
68290,1988,1,30,6,1221.0,1217,1420.0,1414,UA,733,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1048705,1988,3,17,4,1517.0,1506,1630.0,1610,PI,368,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4864872,1988,12,7,3,719.0,705,828.0,825,WN,665,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [56]:
data1.to_csv('1988_3500.csv')

In [57]:
data2 = pd.read_csv("/Users/abhishekshenoy/Downloads/1989.csv").sample(3500, random_state=44)

In [58]:
data2

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2016510,1989,5,21,7,1714.0,1715,1823.0,1835,AA,599,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1578173,1989,4,15,6,1815.0,1815,2016.0,2024,AA,115,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
337396,1989,1,10,2,1553.0,1552,1842.0,1850,AA,196,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
302232,1989,1,25,3,1850.0,1850,2024.0,2031,EA,775,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4513520,1989,11,7,2,653.0,630,1247.0,1233,AA,166,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728067,1989,7,24,1,2353.0,2334,29.0,15,DL,529,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2067085,1989,5,3,3,809.0,805,935.0,930,CO,348,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3594959,1989,9,3,7,1659.0,1659,1857.0,1900,DL,1256,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1134972,1989,3,3,5,2100.0,2100,2211.0,2159,EA,1541,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3191294,1989,8,16,3,1320.0,1315,1617.0,1555,DL,1856,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [59]:
data2.to_csv('1989_3500.csv')

In [6]:
data3 = pd.read_csv("/Users/abhishekshenoy/Downloads/1990.csv").sample(3500, random_state=44)

In [7]:
data3

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5034223,1990,12,19,3,2054.0,2055,2105.0,2116,UA,895,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
924312,1990,3,12,1,1358.0,1330,1452.0,1430,US,2965,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4795125,1990,11,11,7,208.0,210,710.0,703,CO,138,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4618763,1990,11,17,6,1330.0,1330,1445.0,1457,US,10,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3470384,1990,8,19,7,1925.0,1925,2045.0,2037,AS,423,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4890169,1990,12,8,6,1858.0,1900,2138.0,2141,US,1448,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
11669,1990,1,30,2,1819.0,1815,1902.0,1852,US,256,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4631528,1990,11,28,3,2100.0,2056,2242.0,2235,DL,474,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3073136,1990,8,26,7,759.0,800,906.0,909,US,291,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4110451,1990,10,23,2,NaN,1555,NaN,1745,TW,361,...,NaN,NaN,1,NaN,0,NaN,NaN,NaN,NaN,NaN

In [8]:
data3.to_csv('1990_3500.csv')

In [9]:
data4 = pd.read_csv("/Users/abhishekshenoy/Downloads/1991.csv").sample(3500, random_state=44)

In [10]:
data4

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
102504,1991,1,31,4,1711.0,1700,1740.0,1735,WN,868,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
148018,1991,1,15,2,1332.0,1335,1402.0,1404,TW,478,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1260271,1991,4,9,2,1454.0,1325,1543.0,1436,US,418,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2323948,1991,6,30,7,1005.0,1004,1100.0,1055,DL,438,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2011443,1991,5,8,3,630.0,630,803.0,811,AA,563,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2482654,1991,6,11,2,630.0,630,723.0,720,AS,205,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
749787,1991,2,19,2,2000.0,1959,2056.0,2113,AA,1016,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2516751,1991,6,1,6,1816.0,1613,2247.0,1945,CO,1610,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2976793,1991,8,2,5,1019.0,1020,1113.0,1123,US,256,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3683596,1991,9,19,4,2130.0,2130,2323.0,2240,DL,1851,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [65]:
data4.to_csv('1991_3500.csv')

In [15]:
data5 = pd.read_csv("/Users/abhishekshenoy/Downloads/2001.csv", encoding='latin1').sample(3500, random_state=44)

In [16]:
data5

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5715888,2001,12,5,3,843.0,840,1555.0,1609,UA,970,...,8,10,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2964185,2001,6,3,7,1213.0,1210,1738.0,1747,NW,200,...,2,8,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5029266,2001,10,15,1,2014.0,1740,2232.0,2019,AA,1014,...,3,11,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5434168,2001,11,14,3,1702.0,1705,2034.0,2033,AA,35,...,6,18,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1581190,2001,4,20,5,1451.0,1450,1756.0,1810,US,2675,...,4,14,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3969438,2001,8,26,7,1147.0,1150,1449.0,1445,DL,2386,...,12,15,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3944250,2001,8,27,1,956.0,1000,1118.0,1130,DL,1549,...,10,17,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3953669,2001,8,22,3,1255.0,1300,1421.0,1419,DL,1811,...,10,19,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5841825,2001,12,6,4,1116.0,1130,1303.0,1330,MQ,4560,...,2,14,0,NaN,0,NaN,NaN,NaN,NaN,NaN
181721,2001,1,22,1,2015.0,2015,2110.0,2119,TW,486,...,2,14,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [17]:
data5.to_csv('2001_3500.csv')

In [55]:
data6 = pd.read_csv("/Users/abhishekshenoy/Desktop/Combined_21000.csv")
data6.head(100)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,422122,1987,10,4,7,1713.0,1700,1829.0,1820,US,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,351809,1987,10,15,4,1833.0,1832,1936.0,1944,AA,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1245796,1987,12,6,7,715.0,716,823.0,833,AA,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1111179,1987,12,9,3,1455.0,1400,1530.0,1443,CO,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1117473,1987,12,10,4,1155.0,1155,1257.0,1250,DL,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,112494,1987,10,11,7,930.0,930,920.0,928,EA,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
96,297482,1987,10,26,1,2225.0,2220,2252.0,2240,DL,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
97,306114,1987,10,18,7,1910.0,1910,2057.0,2055,DL,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
98,1127102,1987,12,29,2,705.0,705,929.0,923,DL,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99,1120608,1987,12,22,2,1323.0,1314,1619.0,1608,DL,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [56]:
 data6 = data6.drop(['Unnamed: 0'], axis = 1)

In [57]:
data6.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1987,10,4,7,1713.0,1700,1829.0,1820,US,631,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,1987,10,15,4,1833.0,1832,1936.0,1944,AA,315,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,1987,12,6,7,715.0,716,823.0,833,AA,1009,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,1987,12,9,3,1455.0,1400,1530.0,1443,CO,1636,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,1987,12,10,4,1155.0,1155,1257.0,1250,DL,89,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5,1987,12,12,6,620.0,620,919.0,929,DL,726,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,1987,11,5,4,1429.0,1430,1516.0,1521,US,150,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7,1987,10,27,2,719.0,719,822.0,831,EA,1620,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,1987,11,12,4,1755.0,1755,2033.0,2053,PA (1),83,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,1987,11,3,2,2030.0,2015,2346.0,2308,TW,214,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [58]:
data6.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [59]:
LE = LabelEncoder()

In [60]:
data6['Dest_encoder'] = LE.fit_transform(data6['Dest'])
data6['Org_encoder'] = LE.fit_transform(data6['Origin'])
data6['UnqCarr_encoder'] = LE.fit_transform(data6['UniqueCarrier'])

In [61]:
data6.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Dest_encoder,Org_encoder,UnqCarr_encoder
0,1987,10,4,7,1713.0,1700,1829.0,1820,US,631,...,NaN,0,NaN,NaN,NaN,NaN,NaN,45,79,15
1,1987,10,15,4,1833.0,1832,1936.0,1944,AA,315,...,NaN,0,NaN,NaN,NaN,NaN,NaN,131,66,0
2,1987,12,6,7,715.0,716,823.0,833,AA,1009,...,NaN,0,NaN,NaN,NaN,NaN,NaN,195,184,0
3,1987,12,9,3,1455.0,1400,1530.0,1443,CO,1636,...,NaN,0,NaN,NaN,NaN,NaN,NaN,150,77,3
4,1987,12,10,4,1155.0,1155,1257.0,1250,DL,89,...,NaN,0,NaN,NaN,NaN,NaN,NaN,130,66,4

In [62]:
data6 = data6.drop (['Origin', 'Dest', 'TaxiIn', 'TaxiOut',
     'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay','UniqueCarrier'],axis = 1)

In [63]:
data6.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Dest_encoder,Org_encoder,UnqCarr_encoder
0,1987,10,4,7,1713.0,1700,1829.0,1820,631,NaN,76.0,80,NaN,9.0,13.0,404.0,45,79,15
1,1987,10,15,4,1833.0,1832,1936.0,1944,315,NaN,63.0,72,NaN,-8.0,1.0,282.0,131,66,0
2,1987,12,6,7,715.0,716,823.0,833,1009,NaN,68.0,77,NaN,-10.0,-1.0,336.0,195,184,0
3,1987,12,9,3,1455.0,1400,1530.0,1443,1636,NaN,35.0,43,NaN,47.0,55.0,122.0,150,77,3
4,1987,12,10,4,1155.0,1155,1257.0,1250,89,NaN,182.0,175,NaN,7.0,0.0,1235.0,130,66,4

In [64]:
data6.loc[(data6['ArrDelay']>0)|(data6['DepDelay']>0), 'Delays'] = 'Y'
data6.loc[(data6['ArrDelay']<=0)&(data6['DepDelay']<=0), 'Delays'] = 'N'
data6.loc[(data6['ArrDelay']>0)|(data6['DepDelay']>0), 'DelaysN'] = '1'
data6.loc[(data6['ArrDelay']<=0)&(data6['DepDelay']<=0), 'DelaysN'] = '0'
data6.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,TailNum,...,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Dest_encoder,Org_encoder,UnqCarr_encoder,Delays,DelaysN
0,1987,10,4,7,1713.0,1700,1829.0,1820,631,NaN,...,80,NaN,9.0,13.0,404.0,45,79,15,Y,1
1,1987,10,15,4,1833.0,1832,1936.0,1944,315,NaN,...,72,NaN,-8.0,1.0,282.0,131,66,0,Y,1
2,1987,12,6,7,715.0,716,823.0,833,1009,NaN,...,77,NaN,-10.0,-1.0,336.0,195,184,0,N,0
3,1987,12,9,3,1455.0,1400,1530.0,1443,1636,NaN,...,43,NaN,47.0,55.0,122.0,150,77,3,Y,1
4,1987,12,10,4,1155.0,1155,1257.0,1250,89,NaN,...,175,NaN,7.0,0.0,1235.0,130,66,4,Y,1

In [65]:
data6.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'FlightNum', 'TailNum', 'ActualElapsedTime',
       'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Distance',
       'Dest_encoder', 'Org_encoder', 'UnqCarr_encoder', 'Delays', 'DelaysN'],
      dtype='object')

In [66]:
data6_NA = data6.drop (['DepTime','ArrDelay', 'DepDelay','FlightNum', 'TailNum','ActualElapsedTime','AirTime',
     'ArrTime', ],axis = 1)

In [67]:
data6.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,TailNum,...,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Dest_encoder,Org_encoder,UnqCarr_encoder,Delays,DelaysN
0,1987,10,4,7,1713.0,1700,1829.0,1820,631,NaN,...,80,NaN,9.0,13.0,404.0,45,79,15,Y,1
1,1987,10,15,4,1833.0,1832,1936.0,1944,315,NaN,...,72,NaN,-8.0,1.0,282.0,131,66,0,Y,1
2,1987,12,6,7,715.0,716,823.0,833,1009,NaN,...,77,NaN,-10.0,-1.0,336.0,195,184,0,N,0
3,1987,12,9,3,1455.0,1400,1530.0,1443,1636,NaN,...,43,NaN,47.0,55.0,122.0,150,77,3,Y,1
4,1987,12,10,4,1155.0,1155,1257.0,1250,89,NaN,...,175,NaN,7.0,0.0,1235.0,130,66,4,Y,1

In [68]:
data6 = data6.fillna(0)
data6.head(100)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,TailNum,...,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,Dest_encoder,Org_encoder,UnqCarr_encoder,Delays,DelaysN
0,1987,10,4,7,1713.0,1700,1829.0,1820,631,0,...,80,0.0,9.0,13.0,404.0,45,79,15,Y,1
1,1987,10,15,4,1833.0,1832,1936.0,1944,315,0,...,72,0.0,-8.0,1.0,282.0,131,66,0,Y,1
2,1987,12,6,7,715.0,716,823.0,833,1009,0,...,77,0.0,-10.0,-1.0,336.0,195,184,0,N,0
3,1987,12,9,3,1455.0,1400,1530.0,1443,1636,0,...,43,0.0,47.0,55.0,122.0,150,77,3,Y,1
4,1987,12,10,4,1155.0,1155,1257.0,1250,89,0,...,175,0.0,7.0,0.0,1235.0,130,66,4,Y,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1987,10,11,7,930.0,930,920.0,928,656,0,...,58,0.0,-8.0,0.0,214.0,26,13,5,N,0
96,1987,10,26,1,2225.0,2220,2252.0,2240,1063,0,...,20,0.0,12.0,5.0,65.0,158,190,4,Y,1
97,1987,10,18,7,1910.0,1910,2057.0,2055,1651,0,...,165,0.0,2.0,0.0,1085.0,220,15,4,Y,1
98,1987,12,29,2,705.0,705,929.0,923,330,0,...,78,0.0,6.0,0.0,449.0,11,33,4,Y,1
99,1987,12,22,2,1323.0,1314,1619.0,1608,182,0,...,114,0.0,11.0,9.0,732.0,11,66,4,Y,1

In [37]:
data6.to_csv('Combined_new_21000_clean.csv')

In [26]:
x = datacombined['DepDelay']

In [27]:
x

0        11.0
1        -1.0
2        11.0
3        -1.0
4        19.0
        ...
5995      9.0
5996     -5.0
5997     22.0
5998    144.0
5999      1.0
Name: DepDelay, Length: 6000, dtype: float64

In [9]:
a = []

for i in x:
    #print (i)
    if i == 0:
        a.append('Y')
    else:
        a.append('N')
        
print (a)

['N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'N', 'Y', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N',

In [10]:
datacombined.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [11]:
datacombined['Delay'] = a

In [12]:
datacombined.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Delay
0,1987,10,14,3,741.0,730,912.0,849,PS,1451,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N
1,1987,10,15,4,729.0,730,903.0,849,PS,1451,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N
2,1987,10,17,6,741.0,730,918.0,849,PS,1451,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N
3,1987,10,18,7,729.0,730,847.0,849,PS,1451,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N
4,1987,10,19,1,749.0,730,922.0,849,PS,1451,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N
5,1987,10,21,3,728.0,730,848.0,849,PS,1451,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N
6,1987,10,22,4,728.0,730,852.0,849,PS,1451,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N
7,1987,10,23,5,731.0,730,902.0,849,PS,1451,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N
8,1987,10,24,6,744.0,730,908.0,849,PS,1451,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N
9,1987,10,25,7,729.0,730,851.0,849,PS,1451,...,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N

In [13]:
datacombined.to_csv ('combined_new.csv')

In [14]:
datacombined['Dest'].value_counts()

PIT    606
SFO    534
LAX    372
OAK    310
SAN    301
      ...
FAI      1
DLH      1
CHA      1
SRQ      1
LAW      1
Name: Dest, Length: 140, dtype: int64

In [15]:
LE = LabelEncoder()

In [16]:
datacombined['Dest_encoder'] = LE.fit_transform(datacombined['Dest'])

In [17]:
datacombined.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay',
       'Delay', 'Dest_encoder'],
      dtype='object')

In [19]:
datacombined.head(50)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,Delay,Dest_encoder
0,1987,10,14,3,741.0,730,912.0,849,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,121
1,1987,10,15,4,729.0,730,903.0,849,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,121
2,1987,10,17,6,741.0,730,918.0,849,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,121
3,1987,10,18,7,729.0,730,847.0,849,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,121
4,1987,10,19,1,749.0,730,922.0,849,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,121
5,1987,10,21,3,728.0,730,848.0,849,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,121
6,1987,10,22,4,728.0,730,852.0,849,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,121
7,1987,10,23,5,731.0,730,902.0,849,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,121
8,1987,10,24,6,744.0,730,908.0,849,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,121
9,1987,10,25,7,729.0,730,851.0,849,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,121
10,1987,10,26,1,735.0,730,904.0,849,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,121
11,1987,10,28,3,741.0,725,919.0,855,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,121
12,1987,10,29,4,742.0,725,906.0,855,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,121
13,1987,10,31,6,726.0,725,848.0,855,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,121
14,1987,10,1,4,936.0,915,1035.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
15,1987,10,2,5,918.0,915,1017.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
16,1987,10,3,6,928.0,915,1037.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
17,1987,10,4,7,914.0,915,1003.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
18,1987,10,5,1,1042.0,915,1129.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
19,1987,10,6,2,934.0,915,1024.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
20,1987,10,7,3,946.0,915,1037.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
21,1987,10,8,4,932.0,915,1033.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
22,1987,10,9,5,947.0,915,1036.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
23,1987,10,10,6,915.0,915,1022.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,Y,110
24,1987,10,11,7,916.0,915,1006.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
25,1987,10,12,1,944.0,915,1027.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
26,1987,10,13,2,941.0,915,1036.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
27,1987,10,14,3,930.0,915,1029.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
28,1987,10,15,4,920.0,915,1023.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
29,1987,10,17,6,1009.0,915,1104.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
30,1987,10,18,7,915.0,915,1008.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,Y,110
31,1987,10,19,1,940.0,915,1032.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
32,1987,10,21,3,913.0,915,1003.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
33,1987,10,22,4,915.0,915,1017.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,Y,110
34,1987,10,23,5,927.0,915,1022.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
35,1987,10,24,6,929.0,915,1052.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
36,1987,10,25,7,914.0,915,1011.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
37,1987,10,26,1,917.0,915,1023.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
38,1987,10,27,2,916.0,915,1014.0,1001,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
39,1987,10,28,3,941.0,925,1106.0,1015,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
40,1987,10,29,4,940.0,925,1044.0,1015,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
41,1987,10,30,5,1009.0,925,1105.0,1015,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
42,1987,10,31,6,945.0,925,1040.0,1015,PS,1451,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,110
43,1987,10,1,4,1520.0,1505,1624.0,1608,PS,1453,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,93
44,1987,10,2,5,1508.0,1505,1615.0,1608,PS,1453,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,93
45,1987,10,4,7,1526.0,1505,1625.0,1608,PS,1453,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,93
46,1987,10,5,1,1504.0,1505,1602.0,1608,PS,1453,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,93
47,1987,10,6,2,1505.0,1505,1607.0,1608,PS,1453,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,Y,93
48,1987,10,7,3,1512.0,1505,1614.0,1608,PS,1453,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,93
49,1987,10,8,4,1528.0,1505,1636.0,1608,PS,1453,...,0,NaN,0,NaN,NaN,NaN,NaN,NaN,N,93